body{
  background-color: #2131D8;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
h1{
  color: white;
  font-family: 'Rubik', sans-serif;

}
#bm {

  position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50vh;
    height: 50vw;

}
.rocket{
  height: 100%;
  position: absolute;
  padding: 4em;
  right: 0;
}
@media (max-width: 520px) {
 .rocket{
   width: 100%;
 }
}
@media (min-width: 521px) {
 .rocket{
   width: 20%;
   top: 20%;
   right: 20%;
 }
 .footer_li a{

  text-decoration: none;
  color: white
  font-family: "Roboto", sans-serif;
 }

 .footer_li {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      color: white;

      margin: 0;
      position: relative;
      padding: 10px;
 }
 footer {
   position: absolute;
   bottom: 1em;
   margin: 0;
   padding: 0;
   width: 100vw;
 }
