body{
  background-color: #2131D8;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

}
#body{
  overflow: hidden;
}
h1{
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 2.4rem;

}
.footerText{
  color: red !important;
  position: absolute;
  bottom: 1em;
  margin: 0;
  left: 0;
  right: 0;
}
#bm {

  position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50vh;
    height: 50vw;

}
.rocket{
  height: 100%;
  position: absolute;
  padding: 4em;
  right: 0;
}
@media (max-width: 520px) {
 .rocket{
   width: 100%;
 }
 a{
   font-size: 10vh;
 }
 footer {
   position: absolute;
  bottom: 0;
   margin: 0;
   padding: 0;
   width: 100vw;
 }



 .footer_li {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      color: white;

      margin: 0;
      position: relative;
      padding: 10px;
 }
 #about{
   overflow: hidden;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
   position: absolute;
   height: 80vh;
   width: 80vw;
   background-color: rgba(35, 35, 35, 0.6);

 }
 #about #aboutbm {
   position: fixed;

      left: 35%;
      top: 0;
      right: 0;
      bottom: 0;

      width: 70%;
      height: 90%;
  }
  #about ul{
    margin: 0;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    /*background-color: green;*/
    width: 50%;
  }
  #about ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     margin: 0;
     position: relative;
     margin-left: 10px;
     margin-bottom: 3px;
   /*  background-color: red;*/


  }

}
@media (min-width: 521px) {
 .rocket{
   overflow: hidden;
   width: 20%;
   top: 20%;
   right: 20%;
 }

 #about{
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
   position: absolute;
   height: 80vh;
   width: 80vw;
   background-color: rgba(35, 35, 35, 0.6);

 }
 #about #aboutbm {
   position: fixed;

      left: 35%;
      top: 0;
      right: 0;
      bottom: 0;

      width: 70%;
      height: 90%;
  }
 footer {
   position: fixed;
  bottom: 0;
   margin: 0;
   padding: 0;
   width: 100vw;
   z-index: 100;
   display: block;
 }
 .footer_li {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      color: white;

      margin: 0;
      position: relative;
      padding: 10px;
 }
 #about ul{
   margin: 0;
   position: absolute;
   top:0;
   bottom: 0;
   left: 0;
   /*background-color: green;*/
   width: 50%;
 }
 #about ul li {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
    margin: 0;
    position: relative;
    margin-left: 10px;
    margin-bottom: 3px;
  /*  background-color: red;*/


 }

}
a:active{
  text-decoration: line-through !important;
}
 a{

  text-decoration:underline;
  color: white;
  font-size: 16px;
  line-height: 1.2em;
  font-family: "Roboto", sans-serif;
 }
 p {
   color: white;
   font-size: 16px;
   line-height: 1.2em;
   font-family: "Roboto", sans-serif;
 }


 .footer_li:hover {
   background-color: rgba(255,255,255,0.1);
 }

/*#main{
   display: none;
 }*/



#about ul li ul {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;

}
.social{
  font-size: 2.4rem;

}
.social {


}
.socialIcon{
  position: absolute;
  display: inline-flex;
  flex-direction: row !important;
  justify-content: center;
  padding: 1rem;
}


 /*@media (max-aspect-ratio 375/667){
  #body{
    background-color: white !important;
  }
 }
*/
